.list_detail{
    background-color: #F8F9FA;
    border-radius: 8px 8px 8px 8px;
    padding: 8px 20px 8px 20px;
}

.category-bar{
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #d2d2d2;
    background-color: #f7f7f7;
}

/* bootstrap pagination 색상 변경: $gray-xxx 계열 */
.pagination{
    --bs-pagintion-bg: white;
    --bs-pagination-color: #343a40;
    --bs-pagination-active-bg: #6c757d;
    --bs-pagination-active-border-color: #6c757d;
    --bs-pagination-hover-color: #212529;
}

.clickable-tag{
    cursor: pointer;
}